In [1]:
#import libraries
import pandas as pd
import numpy as np
#reading dataset
dataset = pd.read_csv("car_data.csv")

In [2]:
#printing top 5 data from dataset
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
#gives info about the rows
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [6]:
#gives value count of an attribute
dataset['transmission'].value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [9]:
#Independent variable initialisation - year,km driven,fuel,transmission
X = dataset.iloc[:,[1,3,4,6]].values

In [10]:
#Dependent variable - Price
y = dataset.iloc[:,2].values

In [12]:
#Using labelencoder to normalise label and encode the categorial value
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
X[:,2]= lb.fit_transform(X[:,2])
lb1 = LabelEncoder()
X[:,3]= lb1.fit_transform(X[:,3])

In [13]:
#Display number of rows and columns in excel
print(X.shape)

(4340, 4)

In [14]:
#Splitting data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)
print(X_train[0,:])

[2015 175000 1 1]

In [26]:
#creating a model of Random forst regression training set
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=500, random_state=0)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [27]:
#getting our model accuracy
accuracy = regressor.score(X_test,y_test)
print(accuracy*100,'%')

75.7466839579243 %

In [28]:
#Encoding label of each column
new_data = [2017,7000,"Petrol","Manual"]
new_data[2] = lb.transform([new_data[2]])[0]
new_data[3] = lb1.transform([new_data[3]])[0]

In [29]:
#Printing our test set output
print(new_data)
regressor.predict([new_data])

[2017, 7000, 4, 1]

array([623703.33333333])

In [30]:
#Creating pkl file for using in flask
import pickle
pickle.dump(regressor,open('regressor.pkl','wb'))
pickle.dump(lb,open('lb','wb'))
pickle.dump(lb1,open('lb1','wb'))